body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-image: url("../images/sky.jpg");
  background-size: cover;
}

.weather-app-container {
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 2px rgba(0, 0, 0, 0.25);
  margin: 50px auto;
  padding: 30px 30px 20px 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  border-bottom: 1px solid #e4e4e4;
  padding: 0 0 20px 0;
}

.search-form-input {
  width: 75%;
  border: 0.5px solid #656565;
  border-radius: 12px;
  padding: 18px;
  font-size: 16px;
}

.search-form-button {
  border-radius: 12px;
  border: 0.5px solid #656565;
  padding: 18px 20px 18px 20px;
  font-size: 16px;
  margin-left: 15px;
  background-color: #d39676;
  color: #ffcaa3;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10px;
}

.city-searched {
  margin: 0;
  font-size: 45px;
  line-height: 48px;
  color: #d39676;
  margin-left: 10px;
}

.weather-details {
  color: #477581;
  font-weight: 500;
}

.app-details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #e4e4e4;
}

.temperature-container {
  display: flex;
  margin-right: 20px;
}

.temperature-icon {
  font-size: 30px;
  margin-right: 15px;
  margin-top: 20px;
}

.temperature-value {
  font-size: 60px;
  color: #d39676;
  font-weight: 400;
}

.temperature-unit {
  font-size: 25px;
  color: #d39676;
  font-weight: 400;
  margin-top: 10px;
}

.forecast-container {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.forecast {
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.forecast-day {
  text-align: center;
  margin-top: 10px;
  color: #d39676;
  font-weight: 400;
}

.forecast-icon {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.forecast-temperatures {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: 300;
  color: #fcbe92;
  font-size: 20px;
  /* color: #597f88; */
}

.forecast-temperature {
  padding: 0 6px;
}

footer {
  border-top: 1px solid #e4e4e4;
  padding: 30px 0 0 0;
  text-align: center;
  /* color: #656565; */
  color: #e4e4e4;
  font-size: 15px;
  margin-top: 30px;
}

a {
  /* color: #004850; */
  color: #477581;
  font-weight: 400;
}
